/* ################## For greeting css ################### */



body{
    background: lightblue;
    font-family: 'Josefin Sans', sans-serif;
}

div{
    width: 100%;
    height: 100vh;
    text-align: center; 
    margin: auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    background: lightgoldenrodyellow; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

h1:hover{
    background: lightyellow;
}